<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('./partials/head') %>

<body>
	
	<% if (locals.usuarios && locals.usuarios.email) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title"> Porfavor complete los datos del nuevo producto que desea agregar </h2>
			</div>
			<!-- Show the "ultimos" products -->
		
				<form class="formulario" enctype="multipart/form-data" method="POST" style= "color: white;">

					<p>
						<label for="marca"> Marca: </label>
						<input type="text" name="marca" id="marca">
					</p>

					<p>
						<label for="modelo"> Modelo: </label>
						<input type="text" name="modelo" id="modelo">
					</p>

					<p>
						<label for="talle"> Talle: </label>
						<input type="text" name="talle" id="talle">
					</p>


					<p>
						<label for="descripcion"> Descripcion: </label>
						<input type="text" name="descripcion" id="descripcion">
					</p>
					
					<p>
						<label for= "nombre"> Fecha de publicacion (DD-MM-AAAA): </label>
						<input type="date" name="fecha_publicacion" id="fecha_publicacion">
					</p>

					<p>
					<label for="foto_producto"> Agrega foto del producto: </label>
        			<input type="file" name="foto_producto" id="foto_producto">	
					</p>

					
					<p>
						<button class="button-orange" type="submit" value="Enviar"> Agregar producto </button>
					</p>
	
	
				</form>

		</div>	
	</div>	

	<%- include('./partials/footer') %>
	
</body>

</html>