<!DOCTYPE html>
<html>
  <head>
    <title>User</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p>Welcome <%= locals.user ? user.name : "" %></p> <!-- esto es un IF en una sola linea. Si no existe, no pongas nada (""), èro si si existe pone user.name. 
    Esto chequearia si esta loqueado el usuario o no. -->
    <!-- locals.user para chequear si el usuario esta logueado, y si esta logueado, el id esta definido. -->
    <a href="/logout">Logout</a>
    
  </body>
</html>




TENEMOS Q HACER LA LOGICA 